@page
@model PoolModel
@{
    ViewData["Title"] = "Pool";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<ul>
    <li><a href="https://www.facebook.com/profile.php?id=61558838254357" target="_blank">Facebook</a></li>
    <li><a href="https://www.youtube.com/channel/UCnDTJ5jn9tCbyTgpDnkT7sg" target="_blank">YouTube</a></li>
</ul>
